.icon {
  font-size: 25px;
  margin-right:20px ;
}
.LinkJavaProjectsJar{
  margin-top: 20px;
  align-items: center;
  
}
.LinkJavaProjectsVideo{
  margin-top: 20px;
  margin-bottom: 20px;
}
.LinkJavaProjects {
  color: #5dcfa7;
  font-family: "lora";
  padding: 10px;
  text-decoration: none;
}
.LinkJavaProjects:hover {
  color: #5856e6;
  transition: 0.3s;
}
.title {
  font-family: "Roboto";
  font-size: 35px;
  color: #d4cdcd;
}
.projectList{
  padding-top: 0.1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: justify;
  text-decoration: none;
}

.projectList:hover{
  background-color:rgba(145, 146, 174, 0.1);
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #45dca4;
  transition: 0.3s;
}

.textProjects{
  color: #d4cdcd;
  font-family: "open sans";
  font-size: 16px;
}
.titleProjects{
  color: #d4cdcd;
  font-family: "lora";
  font-size: 20px;
  text-decoration: none;
}

.titleProjects:hover {
  cursor: pointer;
  color: #45dca4;
  transition: 0.2ms;
}

.buttons{
  margin: 10px;
  background-color: rgba(145, 146, 174, 0.1);;
  border-radius: 5px; 
  font-size: 13px;
  padding: 10px;
  color: #45dca4;
  border: none;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .textProjects{
  font-size: 13px;
  }
  .titleProjects{
    font-size: 16px;
  }
  .title{
    font-size: 25px;
  }
}