.certificateButton {
  background-color: #0a192f;
  color: #fff;
  border: 3px solid #1f8245;
  border-radius: 5px; 
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  font-family: "lora";
}

.certificateButton:hover {
  background-color: #0f4524;
}

.certificateList{
  padding-top: 0.1px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.certificateList:hover{
  background-color:rgba(145, 146, 174, 0.1);
  border-radius: 5px;
  padding-top: 0.1px;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.subtitleCerticates{
  font-family: "lora";
  color: #d4cdcd;
  font-size: 20px;
}

.titleCertificate{
  font-family: "Roboto";
  font-size: 35px;
  color: #d4cdcd;
}

.text p{
 color: #d4cdcd;
 font-family: "open sans";
}
.selectStyle {
  color: #fff;
  background-color: #0a192f;
  color: #fff;
  border: 2px solid #1f8245;
  border-radius: 5px; 
  font-size: 13px;
  padding: 5px;
  font-family: "open sans";
  cursor: pointer;
}

@media (max-width: 1024px) {
  .titleCertificate{
    font-size: 25px;
  }
  .subtitleCerticates {
    font-size: 16px;
  }
}