.user {
  background-color: #0a192f;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
  max-width: 500px;
}

.user img {
  width: 140px;
  height: 140px;
  border: 4px solid #1f8245;
  border-radius: 50%;
}

.location{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location svg{
  fill: rgb(171, 36, 36);
  font-size: 1.5rem;
}

.location span{
  color: #9da5d1;
  font-weight: bold;
}

.stats {
  display: flex;
}

.stats div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stats div:first-child {
  border-right: 1px solid #1f8245;
}

.stats .number{
  background-color: #0a192f;
  border: 2px solid #1f8245;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

.projectButton {
  background-color: #0a192f;
  color: #fff;
  border: 3px solid #1f8245;
  border-radius: 5px; 
  font-size: 15px;
  cursor: pointer;
  font-family: "lora";
  padding: 20px;
  opacity: 0.8;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
}

.projectButton:hover {
  background-color: #0f4524;
  opacity: 1;
}

.text {
  color: #fff;
  font-family: "Open sans";
}

@media (max-width: 700px){
  .user{
    box-shadow: 0px 0px 0px 1px rgb(13, 158, 42);  
  }
}